body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1{
    color: white;
    border: 3px solid #ff9500;
    background-color: #007bff;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Updated property */
    align-items: center;
    height: 100%;
    background-color: #f8f8f8;;
}

h2{
    color: #007bff;
}

.back_button {
    position: absolute;
    top: 5px;
    left: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
}