<!DOCTYPE html>
<html>
<head>
<title>SCD About</title>
<link rel="stylesheet" href="static/css/style_about.css">
</head>
<body>
<h1>About Skin Condition Detector</h1>
<a href="/", class="back_button"><span>&#8592;</span></a>
<div class="container">
    <h2>What is the skin condition detector?</h2>
    <p>Our Skin Condition Detector is a web application that uses 
        machine learning to detect skin conditions from images. 
        It is designed to help people identify skin conditions and seek medical advice if necessary. 
        The application is easy to use and provides accurate results in a matter of seconds. 
        Try it out today and see how it can help you!</p>
    <h2>How does it work?</h2>
    <p>The skin condition detector uses a pre-trained ResNet50 model to analyze images of skin conditions. 
        The model has been trained on a large dataset of skin condition images (HAM10000) and can accurately identify a wide range of conditions. 
        To use the application, simply upload an image of the skin condition you want to analyze, and the model will provide a diagnosis. 
        The application is fast, accurate, and easy to use, making it a valuable tool for anyone concerned about their skin health.</p>

    <h2>Is this a replacement for a doctor?</h2>
    <p>No, the skin condition detector is not a replacement for a doctor. 
        While the application can provide accurate results based on the images you upload, it is not a substitute for professional medical advice. 
        If you have concerns about your skin health, we recommend that you consult a dermatologist or other qualified healthcare professional. 
        The skin condition detector is designed to be a helpful tool for identifying skin conditions, but it should not be used as a substitute for medical advice.
        The intention of this project if for machine learning research purposes. </p>
    <h2>Who created the skin condition detector?</h2>
    <p>The skin condition detector was created by Antonio Revilla (MS Computer Science [Artificial Intelligence]). If you have any further questions or concerns, 
        please feel free to contact me at <a href="mailto:agr5301@gmail.com">agr5301@gmail.com</a>. </p>
</div>

</body>
</html>